// 向上margin
.mt-md {
    margin-top: 12px;
}

.p-md {
    padding: 2px;
}

// 表格全屏样式
.wrapper-right .vxe-grid.is--maximize {
    left: 210px;
    width: 90%;
}

.common-el-offset {
    text-align: right;
}

// 
.personalCard {
    .el-card {
        height: calc(100vh - 106px);
    }
    .el-card__body {
        height: 100%;
        overflow-y: scroll;
        padding: 10px 20px;
    }
    .el-tree {
        padding-bottom: 60px;
    }
}

.el-row {
    padding: 0 20px;
}

.el-form--inline .el-form-item {
    margin-bottom: 0;
    display: flex;
    .el-form-item__content {
        width: 100%;
    }
    .filter-item {
        width: 100% !important;
    }
}

// 设置列表样式
.personalCard .vxe-table {
    height: calc(100vh - 370px);
}

// 设置查询项超过两行的列表项
.equipmentManagement {
    .vxe-table--main-wrapper {
        height: calc(100vh - 350px);
    }
    .vxe-table {
        height: calc(100vh - 410px);
    }
}

// 展开收起按钮样式
.expandBtn {
    color: #42b983;
    margin-left: 10px;
    cursor: pointer;
}

.extraBtn {
    margin-bottom: 10px;
}

// 抽屉样式
.el-drawer__body {
    padding: 0 24px;
    overflow-y: scroll;
}

.el-date-editor.el-input {
    width: 100%
}

// 模态框样式调整
.commonDialog .el-dialog__body {
    padding: 10px
}